<div data-controller="scrape" class="mx-auto max-w-7xl py-6 sm:px-6 sm:py-8 lg:px-8 rounded-xl ring-1 ring-slate-900/10">
  <%= form_with(model: scrape) do |form| %>
    <% if scrape.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(scrape.errors.count, "error") %> prohibited this scrape from being saved:</h2>

        <ul>
          <% scrape.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="space-y-10 divide-y divide-gray-900/10">
      <div class="grid grid-cols-1 gap-x-8 gap-y-8 md:grid-cols-3">
        <div class="px-4 sm:px-0">
          <h2 class="text-base font-semibold leading-7 text-gray-900">Scrape</h2>
          <p class="mt-1 text-sm leading-6 text-gray-600">Enter the URL that you would like to scrape and select the
            frequency with which you would like to scrape the site. Also give this scrape a name.</p>
        </div>

        <div class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2">
          <div class="px-4 py-6 sm:p-8">
            <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
              <div class="sm:col-span-4">
                <%= form.label :name, "Name", class: "block text-sm font-medium leading-6 text-gray-900" %>
                <div class="mt-2">
                  <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                    <%= form.text_field :name, class: "block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6", placeholder: "Name to identify this scrape" %>
                  </div>
                </div>
              </div>

              <div class="sm:col-span-4">
                <%= form.label :url, "URL", class: "block text-sm font-medium leading-6 text-gray-900" %>
                <div class="mt-2">
                  <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                    <span class="flex select-none items-center pl-3 text-gray-500 sm:text-sm">https://</span>
                    <%= form.text_field :url, class: "block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6", placeholder: "www.example.com" %>
                  </div>
                </div>
              </div>

              <div class="sm:col-span-4">
                <div>
                  <label for="schedule" class="block text-sm font-medium leading-6 text-gray-900">Schedule</label>
                  <%= form.collection_select :schedule_id, Schedule.all, :id, :name, {}, { class: 'mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6' } %>
                </div>
              </div>

              <div class="sm:col-span-4">
                <div>
                  <label for="scrape-rules" class="block text-sm font-medium leading-6 text-gray-900">Scrape Rules</label>
                  <%= form.collection_select :scrape_rule_ids, @scrape_rules, :id, :name, {}, { multiple: true, class: 'mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6' } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-6 flex items-center justify-end gap-x-6 pt-6">
        <%= form.submit :class => "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
      </div>
    </div>

  <% end %>
</div>